img,
legend {
  border: 0;
}
body,
p {
  margin: 0;
}
button,
h1,
h2,
h3,
h4,
h5,
h6,
select {
  text-transform: none;
}
legend,
ol,
td,
th,
ul {
  padding: 0;
}
.wp-caption,
a.alignleft,
a.alignnone,
a.alignright,
embed,
iframe,
img,
object,
video {
  max-width: 100%;
}
.site-container,
body.site {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.lSSlideOuter,
.lSSlideOuter .lSPager.lSGallery {
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}
.lSSlideOuter .lSPager.lSGallery:after,
.lSSlideWrapper > .lightSlider:after,
.site-inner {
  clear: both;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  color: #f1c40f;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  height: auto;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre,
textarea {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
body,
input,
select,
textarea {
  background-color: #fff;
  color: #333;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
th,
thead {
  font-family: ff-basic-gothic-web-pro, HelveticaNeue-UltraLight,
    "Helvetica Neue UltraLight", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.menu-item__desc,
.menu-item__price,
blockquote,
cite,
em,
i {
  font-style: italic;
}
button {
  overflow: visible;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
optgroup {
  font-weight: 700;
}
td,
th {
  text-align: left;
}
*,
:after,
:before {
  box-sizing: inherit;
}
body {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.7;
}
a:hover {
  color: #ccc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.2;
  color: #000;
}
.chownow a,
.menu-header-group,
.pdfmenu .pdfmenu-button,
.primary-menu-item,
.text-banner a {
  text-transform: uppercase;
}
h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
h4:not(:last-child),
h5:not(:last-child),
h6:not(:last-child) {
  margin-bottom: 10px;
}
h1 {
  margin: 0.67em 0;
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
.button,
.gallery img,
a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus {
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
::-moz-selection {
  background-color: #333;
  color: #fff;
}
::selection {
  background-color: #333;
  color: #fff;
}
section + section {
  margin-top: 1.5em;
}
p:not(:last-child) {
  margin-bottom: 0.7em;
}
ol,
ul {
  margin: 0;
}
li {
  list-style-type: none;
}
b,
strong {
  font-weight: 700;
}
blockquote {
  margin: 40px;
}
blockquote::before {
  content: "\201C";
  display: block;
  font-size: 30px;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px;
}
.featured-content img,
.gallery img {
  width: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 40px;
  width: 100%;
}
tbody {
  border-bottom: 1px solid #ddd;
}
td {
  border-top: 1px solid #ddd;
  padding: 6px 0;
}
th,
thead {
  font-weight: 400;
}
input,
select,
textarea {
  border: 1px solid #ddd;
  font-size: 18px;
  padding: 0.5em;
  width: 100%;
}
input:not([type="checkbox"]),
input:not([type="radio"]) {
  -webkit-appearance: none;
  border-radius: 0;
}
input:focus,
textarea:focus {
  border: 1px solid #999;
  outline: 0;
}
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
}
::-webkit-input-placeholder {
  color: #777;
  opacity: 1;
}
::-moz-placeholder {
  color: #777;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #777;
  opacity: 1;
}
::placeholder {
  color: #777;
  opacity: 1;
}
.button,
.cta-button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #333;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5em 1em;
  text-transform: uppercase;
  width: auto;
}
.button:hover,
button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"] {
  background-color: #555;
  color: #fff;
}
.footer-widgets .button,
.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"] {
  background-color: #333;
  color: #fff;
}
.footer-widgets .button:hover,
.footer-widgets button:hover,
.footer-widgets input:hover[type="button"],
.footer-widgets input:hover[type="reset"],
.footer-widgets input:hover[type="submit"] {
  background-color: #fff;
  color: #333;
}
.button {
  display: inline-block;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}
.inputaddon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.media,
body.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.inputaddon-field {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.media {
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.media-figure {
  margin-right: 1em;
}
.media-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.page-splash {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.page-splash:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.66667%;
}
.page-splash > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@media (min-width: 1280px) {
  .page-splash {
    position: relative;
  }
  .page-splash:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 50%;
  }
  .page-splash > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
@media (min-width: 1920px) {
  .page-splash {
    position: relative;
  }
  .page-splash:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 33.33333%;
  }
  .page-splash > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
.author-box:before,
.clearfix:before,
.entry-content:before,
.entry:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
  content: " ";
  display: table;
}
.author-box:after,
.clearfix:after,
.entry-content:after,
.entry:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
  clear: both;
  content: " ";
  display: table;
}
.homepage-splash:before,
.page-mast:before {
  content: "";
}
a.aligncenter img {
  display: block;
  margin: 0 auto;
}
a.alignnone {
  display: inline-block;
}
.alignleft {
  float: left;
  text-align: left;
}
.alignright {
  float: right;
  text-align: right;
}
.chownow,
.contact-cd,
.donuts-section .menu-item__title,
.donuts-section .menu-section__body,
.fg-gallery,
.instagram-feed-title,
.lSSlideOuter .lSPager.lSpg,
.litebox-overlay,
.litebox-overlay .litebox-error,
.location,
.locations-header,
.menu-section__title,
.more-link,
.pagination li,
.pdfmenu,
.search-no-results .entry,
.site-footer,
.site-header,
.site-logo,
.text-banner a,
.wp-caption-text,
h1.archive-title {
  text-align: center;
}
.aligncenter,
img.centered {
  display: block;
  margin: 0 auto 24px;
}
.alignnone,
img.alignnone {
  margin-bottom: 0.25em;
}
.wp-caption.alignleft,
a.alignleft,
img.alignleft {
  margin: 0 24px 24px 0;
}
.wp-caption.alignright,
a.alignright,
img.alignright {
  margin: 0 0 24px 24px;
}
.wp-caption-text {
  font-size: 14px;
  font-weight: 700;
}
.entry-content p.wp-caption-text {
  margin-bottom: 0;
}
body.site {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  min-height: 100vh;
}
.search-form,
.site-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.site-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.site-footer,
.site-header {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.site-inner {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.site-header {
  line-height: 1;
  background-color: #222;
}
@media (min-width: 51.875em) {
  .site-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .site-logo {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
}
.site-logo {
  height: auto;
  display: block;
}
.site-logo img {
  display: block;
  margin: 1em auto 0.5em;
  max-width: 200px;
}
@media (min-width: 53.4375em) {
  .site-logo img {
    max-width: 250px;
  }
}
.primary-menu-item {
  display: inline-block;
  padding: 1em 0.6em;
  font-size: 0.7em;
  color: #ddd;
}
.primary-menu-item:hover {
  color: #444;
}
@media (min-width: 33.125em) {
  .primary-menu-item {
    font-size: 1em;
  }
}
@media (min-width: 51.875em) {
  .site-logo img {
    margin: 1em;
  }
  .primary-menu-item {
    -webkit-flex-basis: 4em;
    -ms-flex-preferred-size: 4em;
    flex-basis: 4em;
    margin: 0.25em;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .primary-menu-item:nth-child(n + 5) {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
}
.site-footer {
  color: #fff;
  background-color: #222;
}
.footer-widgets {
  margin-left: auto;
  margin-right: auto;
  max-width: 90em;
  padding: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.homepage-splash,
.text-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 500px) {
  .footer-widgets {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.footer-artwork img {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.footer-primary {
  font-size: 0.9em;
}
.footer-primary p {
  margin: 0;
}
.cd-social li {
  display: inline-block;
  padding: 0 0.25em;
}
.cd-social li span {
  display: none;
}
.footer-site-nav li {
  font-size: 0.9em;
  display: inline-block;
}
.footer-copyright {
  padding: 0.5em;
  background-color: #000;
  color: #999;
  font-size: 0.8em;
}
@media (min-width: 500px) {
  .footer-site-nav li {
    display: block;
  }
  .footer-copyright {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
@media (min-width: 500px) and (min-width: 500px) {
  .footer-copyright {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
}
.widget-title {
  border-bottom: 1px solid #b3b3b3;
}
.entry-header,
.instagram-feed-title,
.pagination ul {
  border-bottom: 1px solid #ccc;
}
.search-form {
  display: flex;
}
.search-form input[type="search"] {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.error404 .entry,
.search-no-results .entry {
  padding: 1em;
}
.t-homepage .content-sidebar-wrap,
.t-homepage .site-container,
.t-homepage .site-inner,
.t-homepage main.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.homepage-splash {
  position: relative;
  background-image: url(img/illustrated_splash.jpg);
}
.homepage-splash:before {
  display: block;
  width: 100%;
  padding-top: 66.66667%;
}
.homepage-splash > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@media (min-width: 1280px) {
  .homepage-splash {
    position: relative;
  }
  .homepage-splash:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 50%;
  }
  .homepage-splash > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
@media (min-width: 1920px) {
  .homepage-splash {
    position: relative;
  }
  .homepage-splash:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 40%;
  }
  .homepage-splash > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
.homepage-navigation {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.homepage-navigation > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}
@media (min-width: 945px) {
  .homepage-navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .homepage-navigation > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
  }
}
.text-banner,
.text-banner a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.text-banner {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 150px;
  position: relative;
}
.text-banner a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2em;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
}
.text-banner a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.text-banner.banner-menu {
  background-image: url(img/homepage-menubanner.jpg);
}
.text-banner.banner-about {
  background-image: url(img/homepage-ourstorybanner.jpg);
}
.text-banner.banner-locations {
  background-image: url(img/homepage-locationsbanner.jpg);
}
.pdfmenu {
  font-size: 0.9em;
  padding: 1em;
}
.pdfmenu p {
  margin-bottom: 0;
}
.pdfmenu .pdfmenu-button {
  background-color: #f1c40f;
  color: #333;
  font-size: 0.8em;
  padding: 0.5em 1em;
}
.full-menu {
  margin-top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.full-menu > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}
@media (min-width: 900px) {
  .full-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .full-menu > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}
.menu-header-group,
.menu-section__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.menu-item + .menu-header {
  margin-top: 1em;
}
.menu-header-group {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.menu-header-main {
  margin-right: auto;
  font-size: 1.2em;
  font-weight: 700;
}
.menu-header-secondary {
  margin-left: auto;
  font-size: 1.2em;
  font-weight: 700;
}
.menu-header-description {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  font-style: italic;
  font-size: 0.9em;
}
.menu-section__title {
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.menu-section__title img {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  min-width: 100%;
}
.menu-section__title h1 {
  margin: 0;
  padding: 0;
}
.menu-section__body {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 35em;
}
.donuts-section .menu-section__body {
  max-width: 100%;
}
.menu-item-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.donuts-section .menu-item-group {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.menu-item__title {
  margin-right: auto;
}
.donuts-section .menu-item__title {
  margin: 0;
  display: block;
}
.menu-item__title.food {
  font-weight: 700;
}
.menu-item__desc {
  font-size: 0.9em;
  padding: 0 1em;
}
.menu-item__price {
  margin-left: auto;
}
.sweets-group ul + ul {
  margin-top: 1em;
}
@media (min-width: 640px) {
  .sweets-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .sweets-group ul {
    margin-right: 1em;
  }
  .sweets-group ul + ul {
    margin-top: 0;
  }
}
.about-section-body,
.chownow a,
.fg-gallery,
.instagram-feed,
.locations-header img {
  margin-left: auto;
  margin-right: auto;
}
.chownow {
  font-size: 0.9em;
  background-color: #f1c40f;
  padding: 1em;
}
.chownow a {
  font-size: 0.9em;
  color: #fff;
  display: block;
  padding: 0.5em 1em;
  background-color: #333;
  max-width: 12em;
}
.about-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 0;
}
.about-section > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}
.about-section-body {
  padding: 2em 1em;
  max-width: 60em;
}
.about-section-body h2 {
  margin-top: 0;
  text-align: center;
  font-size: 1.3em;
}
.fg-gallery {
  max-width: 100em;
  padding: 2em 0;
}
.fg-gallery-image {
  display: inline-block;
  padding: 0.5em;
}
.fg-gallery-image img {
  width: 100%;
  max-width: 400px;
  display: block;
}
.instagram-feed {
  margin-bottom: 2em;
  max-width: 800px;
}
.locations-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1em 1em 2em;
}
.locations-list > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}
@media (min-width: 500px) {
  .locations-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 100em;
  }
  .locations-list > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}
.locations-header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}
.locations-header img {
  display: block;
  max-width: 200px;
}
.contact-cd h2,
.location h2 {
  margin: 0;
}
.location {
  padding: 0 1em;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-cd {
  padding: 1em;
}
.content-sidebar .content-sidebar-wrap {
  padding-top: 1em;
  padding-bottom: 2em;
}
@media (min-width: 800px) {
  .content-sidebar .content-sidebar-wrap {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .content-sidebar main.content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .content-sidebar aside.sidebar {
    -webkit-flex-basis: 15em;
    -ms-flex-preferred-size: 15em;
    flex-basis: 15em;
  }
}
.post {
  padding: 1em;
}
.entry-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1em;
}
@media (min-width: 800px) {
  .entry-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}
h1.entry-title,
h2.entry-title {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  margin: 0.2em 0 0;
  line-height: 1.2;
  font-weight: 400;
}
h1.entry-title a:not(:hover),
h2.entry-title a:not(:hover) {
  color: #333;
}
@media (min-width: 800px) {
  h1.entry-title,
  h2.entry-title {
    margin: 0.2em 0;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .entry-header .entry-meta {
    padding-left: 0.5em;
    margin-left: auto;
  }
}
.single .entry-title {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}
.entry-meta {
  color: #999;
  font-size: 0.9em;
}
.entry-header .entry-meta {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin-top: 0.25em;
}
.entry-content h1 {
  font-size: 30px;
}
.entry-content h2 {
  font-size: 24px;
}
.entry-content h3 {
  font-size: 20px;
}
.entry-content h4 {
  font-size: 18px;
}
.entry-content h5,
.entry-content h6 {
  font-size: 16px;
}
.entry-content li,
.entry-content ol,
.entry-content ul {
  list-style-position: inside;
}
.entry-content ol,
.entry-content ul {
  margin-left: 0.5em;
  margin-bottom: 0.7em;
}
.entry-content ul {
  list-style-type: disc;
}
.entry-content ol {
  list-style-type: decimal;
}
.entry-content li {
  list-style-type: inherit;
}
.more-link {
  display: block;
}
.comment-respond {
  padding: 1em;
}
h1.archive-title {
  margin: 0.5em;
  font-size: 1.7em;
}
.pagination ul {
  border-top: 1px solid #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0.5em auto;
  max-width: 15em;
}
.pagination ul > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.pagination li {
  padding: 0.5em;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
.pagination li a {
  font-weight: 700;
}
.pagination li.active a {
  color: #333;
}
.sidebar {
  padding: 1em;
}
.wf-loading {
  visibility: hidden;
}
.wf-active,
.wf-inactive {
  visibility: visible;
}
#sbi_load,
.sb_instagram_header {
  display: none;
}
.page-mast,
.page-mast img {
  display: block;
}
.page-mast {
  max-height: 25em;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
}
@media (min-width: 50em) {
  .page-mast {
    max-height: 31.25em;
  }
}
@media (min-width: 100em) {
  .page-mast {
    max-height: 37.5em;
  }
}
.page-mast:before {
  display: block;
  padding-bottom: 50%;
}
.litebox-overlay,
.litebox-overlay > * {
  box-sizing: border-box;
}
.litebox-overlay {
  display: none;
  width: 100%;
  min-width: 280px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
@-webkit-keyframes liteboxLoader {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes liteboxLoader {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.litebox-overlay .litebox-loader {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 20px;
  top: 20px;
  border: 3px solid #111;
  border-right-color: #fff;
  border-radius: 50%;
  -webkit-animation: liteboxLoader 1s linear infinite;
  animation: liteboxLoader 1s linear infinite;
}
.litebox-overlay .litebox-text {
  width: 100%;
  padding: 0 15px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  z-index: 2;
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.litebox-overlay .litebox-text.active {
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  opacity: 1;
}
.litebox-overlay .litebox-close {
  width: 40px;
  height: 40px;
  background: url(img/litebox-close.png) center no-repeat;
  opacity: 0.7;
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.litebox-overlay .litebox-close:hover {
  opacity: 1;
  cursor: pointer;
}
.litebox-overlay .litebox-nav {
  display: none;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  z-index: 9999999;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.litebox-overlay .litebox-nav:hover {
  opacity: 0.9;
  cursor: pointer;
}
.litebox-overlay .litebox-prev {
  background: url(img/litebox-prev.png) center no-repeat;
  left: 20px;
}
.litebox-overlay .litebox-next {
  background: url(img/litebox-next.png) center no-repeat;
  right: 20px;
}
.litebox-overlay .litebox-container {
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  overflow: hidden;
}
.litebox-overlay .litebox-container.litebox-scroll {
  overflow-y: auto;
}
.litebox-overlay iframe,
.litebox-overlay img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  vertical-align: middle;
  overflow-x: hidden;
}
.litebox-overlay iframe {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 999999;
}
.litebox-overlay .litebox-inline-html {
  width: 100%;
  padding: 20px;
  background: #fff;
  overflow-x: hidden;
  line-height: normal !important;
  position: absolute;
}
.lSSlideWrapper,
.lSSlideWrapper .lSFade {
  position: relative;
}
.litebox-overlay .litebox-error {
  width: 100%;
  height: 100%;
  color: #fff;
  line-height: inherit;
}
.litebox-overlay .litebox-error span {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 3px;
  padding: 20px;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  line-height: normal;
}
@media only screen and (max-width: 479px) {
  .litebox-overlay .litebox-close {
    display: none;
  }
}
.lSSlideOuter {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.lightSlider:after,
.lightSlider:before {
  content: " ";
  display: table;
}
.lightSlider {
  overflow: hidden;
  margin: 0;
}
.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
}
.lSSlideWrapper .lSSlide {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 1s;
  -webkit-transition-property: -webkit-transform, height;
  transition-property: transform, height;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important;
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade > * {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 9;
  margin-right: 0;
  width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade > .active {
  z-index: 10;
}
.lSSlideWrapper.usingCss .lSFade > .active {
  opacity: 1;
}
.lSSlideOuter .lSPager.lSpg {
  margin: 10px 0 0;
  padding: 0;
}
.lSSlideOuter .lSPager.lSpg > li {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
}
.lSSlideOuter .lSPager.lSpg > li a {
  background-color: #222;
  border-radius: 30px;
  display: inline-block;
  height: 8px;
  overflow: hidden;
  text-indent: -999em;
  width: 8px;
  position: relative;
  z-index: 99;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
.lSSlideOuter .lSPager.lSpg > li.active a,
.lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #428bca;
}
.lSSlideOuter .media {
  opacity: 0.8;
}
.lSSlideOuter .media.active {
  opacity: 1;
}
.lSSlideOuter .lSPager.lSGallery {
  list-style: none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.lSSlideOuter .lSPager.lSGallery li {
  overflow: hidden;
  -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
  transition: border-radius 0.12s linear 0s 0.35s linear 0s;
}
.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 5px;
}
.lSSlideOuter .lSPager.lSGallery img {
  display: block;
  height: auto;
  max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery:after,
.lSSlideOuter .lSPager.lSGallery:before {
  content: " ";
  display: table;
}
.lSAction > a {
  width: 32px;
  display: block;
  top: 50%;
  height: 32px;
  background-image: url(img/controls.png);
  cursor: pointer;
  position: absolute;
  z-index: 99;
  margin-top: -16px;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s linear 0s;
  transition: opacity 0.35s linear 0s;
}
.lSAction > a:hover {
  opacity: 1;
}
.lSAction > .lSPrev {
  background-position: 0 0;
  left: 10px;
}
.lSAction > .lSNext {
  background-position: -32px 0;
  right: 10px;
}
.lSAction > a.disabled {
  pointer-events: none;
}
.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}
.lSSlideOuter.vertical {
  position: relative;
}
.lSSlideOuter.vertical.noPager {
  padding-right: 0 !important;
}
.lSSlideOuter.vertical .lSGallery {
  position: absolute !important;
  right: 0;
  top: 0;
}
.lSSlideOuter.vertical .lightSlider > * {
  width: 100% !important;
  max-width: none !important;
}
.lSSlideOuter.vertical .lSAction > a {
  left: 50%;
  margin-left: -14px;
  margin-top: 0;
}
.lSSlideOuter.vertical .lSAction > .lSNext {
  background-position: 31px -31px;
  bottom: 10px;
  top: auto;
}
.lSSlideOuter.vertical .lSAction > .lSPrev {
  background-position: 0 -31px;
  bottom: auto;
  top: 10px;
}
.lSSlideOuter.lSrtl {
  direction: rtl;
}
.lSSlideOuter .lSPager,
.lSSlideOuter .lightSlider {
  padding-left: 0;
  list-style: none;
}
.lSSlideOuter.lSrtl .lSPager,
.lSSlideOuter.lSrtl .lightSlider {
  padding-right: 0;
}
.lSSlideOuter .lSGallery li,
.lSSlideOuter .lightSlider > * {
  float: left;
}
.lSSlideOuter.lSrtl .lSGallery li,
.lSSlideOuter.lSrtl .lightSlider > * {
  float: right !important;
}
@-webkit-keyframes rightEnd {
  0%,
  100% {
    left: 0;
  }
  50% {
    left: -15px;
  }
}
@keyframes rightEnd {
  0%,
  100% {
    left: 0;
  }
  50% {
    left: -15px;
  }
}
@-webkit-keyframes topEnd {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -15px;
  }
}
@keyframes topEnd {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -15px;
  }
}
@-webkit-keyframes leftEnd {
  0%,
  100% {
    left: 0;
  }
  50% {
    left: 15px;
  }
}
@keyframes leftEnd {
  0%,
  100% {
    left: 0;
  }
  50% {
    left: 15px;
  }
}
@-webkit-keyframes bottomEnd {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: -15px;
  }
}
@keyframes bottomEnd {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: -15px;
  }
}
.lSSlideOuter .rightEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative;
}
.lSSlideOuter .leftEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative;
}
.lSSlideOuter.vertical .rightEnd {
  -webkit-animation: topEnd 0.3s;
  animation: topEnd 0.3s;
  position: relative;
}
.lSSlideOuter.vertical .leftEnd {
  -webkit-animation: bottomEnd 0.3s;
  animation: bottomEnd 0.3s;
  position: relative;
}
.lSSlideOuter.lSrtl .rightEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative;
}
.lSSlideOuter.lSrtl .leftEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative;
}
.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}
